.background_servicos{
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: linear-gradient(blue,rgb(20, 138, 248));
}
#conteiner_servicos{
    max-width: 780px;
    margin: 0 auto;
    padding: 2.5em;
}
.conteudo_servico_titulo1
{
    font-size: 2em;
    padding-bottom: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
}
.conteudo_servico1
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.conteudo_servico1 img
{
    display: block;
    height: 500px;
    width: 100%;
    border-radius: 8px;
}
.conteudo_servico2
{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.conteudo_servico2 h2{
    text-align: left;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.conteudo_servico2 p{
    line-height: 1.5em;
    text-align: justify;
    padding-top: 1em;
}