.conteudo
{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: linear-gradient(blue,rgb(20, 138, 248));
}
.conteudo_foto
{
    height: 600px;
    width: 320px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}
.conteudo_sobre1
{
    width: 320px;
}
.conteudo_sobre2
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 600px;
}
.conteudo_sobre_titulo1
{
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.conteudo_sobre_paragrafo1
{
    font-size: 15px;
    text-align: justify;
}
.conteudo_sobre_titulo2
{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.conteudo_sobre_lista
{
    padding-left: 40px;
}
.conteudo_sobre_item
{
    padding-bottom: 15px;
}