main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    margin-top: 30px;
    margin-bottom: 30px;
}
.conteudo_foto{
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}
.conteudo_sobre1{
    border-radius: 8px;
    overflow: hidden;
    width: 500px;
}
.conteudo_sobre2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding: 20px;
    max-width: 600px;
}
.conteudo_sobre_titulo1{
    font-size: 2.4em;
    text-align: left;
    padding-bottom: 20px;
    color: rgb(7, 201, 7);
    text-transform: uppercase;
}
.paragrafo{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align: left;
    color: rgb(155, 155, 155);
    line-height: 1.5em;
}
.conteudo_sobre_titulo2{
    font-size: 1.8em;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(18, 201, 18);
}
main ul{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding-left: 40px;
    color: rgb(155, 155, 155);
}
main ul li{
    padding-bottom: 15px;
}