@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: 0;
}
/* Cabeçalho */
header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    color: white;
}
header .conteiner1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(blue, rgb(20, 138, 248));
    padding: 10px 10px;
}
header .conteiner1 .box1 ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4em;
    align-items: center;
    list-style: none;
}
header .conteiner1 .box1 ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .conteiner1 .box1 ul li a .icon-size{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
header .conteiner1 .box1 ul li a .icon-size:hover{
    border: 2px solid white;
}
header .conteiner1 .box2{
    display: flex;
    align-items: center;
    gap: 0.5em;
}
header .conteiner1 .box2 .icon-size{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
header .conteiner2{
    background-color: white;
}
header .conteiner2 .logo_site{
    display: block;
    margin: 0 auto;
    width: 400px;
}
/* End Cabeçalho*/

/* Barra de Navegação */
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(20, 138, 248), blue);
    height: 75px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    list-style: none;
}
nav ul li a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.8em;
    text-align: center;
    color: white;
    background-image: linear-gradient(white,white);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 0%;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.4s;
}
nav ul li a:hover{
    color: blue;
    background-size: 100% 100%;
    transition: 0.4s;
}
/* End Barra de Navegação */

main{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
}
footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(rgb(20, 138, 248), blue);
    color: white;
}
footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}
footer a{
    height: 40px;
    width: 40px;
    cursor: pointer;
}
footer a:hover{
    border: 2px solid white;
    border-radius: 50%;
}
footer img{
    width: 100%;
}
footer .rodape_secao2{
    text-align: center;
    padding-bottom: 20px;
}
